@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.arr {
	margin-top: .2rem;
}

.nav_menu_left {
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100%;
	/*bottom: 0;*/
	top: -1.4rem;
	top: 3.093rem;
	border: none;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	user-select: none;
	box-shadow: .1rem 0 .3rem 0 rgba(0, 0, 0, .1);
	overflow: hidden;
	position: fixed;
}

.nav_menu_left > ul {
	position: relative;
	top: -11.2rem;
	top: -12.6rem;
	/* top: -29.6%; */
	list-style-type: none;
	min-width: 115%;
	height: 16.5rem;
	user-select: none;
	/*border: 1px solid black;*/
}

.nav_menu_left > ul li i {
	color: rgb(20, 138, 181);
	margin-left: -1rem;
	position: absolute;
	user-select: none;
}
.nav_menu_left > ul li i.arrow {
	position: absolute;
	right: 1rem;
	transition: .2s all ease-in-out;
}
.nav_menu_left > ul li {
	cursor: pointer;
	position: relative;
	width: 100%;
	transition: .2s all ease-in-out;
	user-select: none;
	/* border: 1px solid black; */
}

.nav_menu_left > ul li:not(.first) {
	border-top: .1rem solid rgba(20, 138, 181, .1);
}

.nav_menu_left > ul li a:hover {
	background-color: rgb(239, 248, 255);
}

.nav_menu_left > ul li a {
	text-decoration: none;
	color: rgb(20, 138, 181);
	font-size: .9rem;
	display: block;
	width: 100%;
	height: 100%;
	padding: .5rem 0rem .5rem 3rem;
	margin-left: 0rem;
	user-select: none;
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
}

span.a-txt {
	margin-left: 1rem;
}

.nav_menu_left > ul li a:hover {
	color: rgb(20, 138, 181);
}

.active {
	background-color: rgb(239, 248, 255) !important; 
}

.show {
	display: block;
}

/*submenu*/
.submenu {
	position: relative;
	list-style-type: none;
	width: 100%;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	overflow: hidden;
	display: none;
}

.submenu li {
	margin-left: 0rem;
}

.submenu_li, .submenu_a {
	font-size: .9rem !important;
}

.open_submenu {
	display: block;
}

.arrow_rotate {
	transform: rotate(90deg);
}

