@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
}

body, html {
	/*background: rgb(245, 245, 245);*/
	background-color: white;
	overflow-x: none;
}

h1 {
	color: rgb(4, 33, 43);
}

.download_btn {
	margin-top: 1.7rem;
	border: none;
	outline: none;
	border-radius: .1rem;
	background-color: rgb(20, 138, 181);
	color: white;
	padding: .6rem .9rem;
	font-weight: bold;
	font-size: 1rem;
	transition: .2s all ease-in-out;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


.download_btn:hover {
	background-color: rgb(27, 124, 161);
}

.fa-file-download {
	font-size: 1.1rem;
}